<h1><%= @shelter.shelter_name %></h1>
<p>Shelter Address: <%=@shelter.address %></p>
<p>Case Management Available: <%=@shelter.case_management_available %></p>
<p>Capasity: <%=@shelter.capasity %></p>
<p><a href="/shelters/<%= @shelter.id %>/residents">Residents</a></p>
