<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css"

  <ul>
    <li><a href="/">Welcome Page</a><li>
    <li><a href="/shelters">Shelter List</a><li>
    <li><a href="/residents">List of All Residents</a></li>
  </ul>
</head>

<body>

<form action="/residents/<%= @resident.id %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="PATCH" />

<h1>EDIT resident record:</h1>
<p>Family Name</p>
<input type name='family_name' value="<%= @resident.family_name %>"/><br/>
<p>Long Term Housing Needed?</p>
<input type name='long_term_housing_need'value="<%= @resident.long_term_housing_need %>"/><br/>

<p>Family Size</p>
<input type name='family_size'value="<%= @resident.family_size %>"/><br/>
<input type='submit'/>


</form>
</body>
</html>


