<body>
  <p><h11><a href="/shelters">Shelter List</a></h11></p>
  <p><h11><a href="/residents">List of All Residents</a></h11></p>

  <h1><%=@shelter.shelter_name%> Residents</h1>
    <p><h5><a href="/shelters/<%= @shelter.id %>/residents/sorted_a">Sort List Alphabetically</a></h5></p>

    <form action="/shelters/<%= @shelter.id %>/residents/by_family_view" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Filter by Family Size</p>
    <p>Family Size</p>
    <input type='number' name='family_size'/><br/>
    <input type='submit' value='submit'/>
    </form>
    



<% @residents.each do |resident| %>
  <h3><a href="/residents/<%= resident.id %>"><%= resident.family_name %></a>
  <a href="/residents/<%= resident.id %>/edit">Edit Resident Record</a>
    <form action="/residents/<%= resident.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
    </form>
  </h3>
  <p>Long Term Housing Needed: <%=resident.long_term_housing_need%></p>
  <p>Family Size: <%=resident.family_size%></p>
  <p>Current Shelter ID: <%=resident.shelter_id%></p>
<% end %>


<p><h5><a href="/shelters/<%= @shelter.id %>/residents/new">Add New Associated Resident</a></h5></p>


</body>