<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <ul>
    <li><a href="/">Welcome Page</a><li>
    <li><a href="/shelters">Shelter List</a><li>
    <li><a href="/residents">List of All Residents</a></li>
  </ul>

  <body>
    <%= yield %> 
  </body>
</html>
